::placeholder {
  text-align: center;
}

.signin {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../images/peopleWater.jpg");
  background-position: center;

  background-repeat: no-repeat;
  background-size: 130vh;
  /* background-color: aqua; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginh1 {
  display: flex;
  font-weight: 400;
  font-size: 50px;
  line-height: 36px;
}
.loginForm {
  margin: 10px;
  display: flex;
}

.loginForm > input {
  display: flex;
  box-sizing: border-box;

  width: 275px;
  height: 40px;

  border: 1px solid #d5d5d5;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.signinbtn {
  width: 275px;
  height: 40px;
  color: white;

  background: #134e4a;
  box-shadow: 0px 4.375px 17.5px rgba(19, 78, 74, 0.18);
  border-radius: 10px;
}
